.barra-azul {
	background: linear-gradient(to bottom, #395f89 0%,#23538a 58%,#23538a 98%); /* W3C */
	-webkit-box-shadow: 1px 1px 1px #000;
	border-style: none;
	border-radius: 0;
}

.titulo {
	color: #fff !important;
}

.central {
	width: 40%;
	margin: auto;
}

#login {
	width: 100%;
	height: 100%;
}

.page-header {
	margin: 0 !important;
}

.page-header h1{
	margin-top: 0 !important;
}

.navbar {
	margin-bottom: 5px !important;
}

.navbar-text {
	color: #fff !important;
	margin-right: 5px;
}

.img-perfil {
	margin-left: 12px;
}

.bt-sair {
	margin-top: 8px;
	margin-left: 8px;
}

#grafo {
	max-width: 100%;
	height: 500px;
	margin: auto;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background: linear-gradient(to bottom, #083c7f 0%,#0a3272 92%,#ffffff 99%); /* W3C */
	
}

.navbar-nav > li > a {
	color: #fff !important;
}

.aviso {
	padding: 10px 0;
}
.aviso-text {
	border: solid 1px;
}