{% extends "layout.html" %}

{% block navbar %}

<img class="navbar-right img-perfil" src="{{perfil_publico['picture']}}" />

<a class="btn btn-default navbar-right bt-sair" href="{{logout}}">   Sair</a>

<p class="navbar-text navbar-right">
	<small>Usuário:  </small>{{perfil_publico["first_name"]}}
</p>

<ul class="nav navbar-nav">
	<li class=""><a href="{{url_for('home')}}">Início</a></li>
	<li class="active"><a href="#">Atividade recente</a></li>
</ul>


{% endblock %}

{% block body %}
<div class="container">
	<div class="page-header">
		<h1>Feed  <small>Suas atividades recentes </small></h1>
	</div>
	<div id="feed" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#feed" data-slide-to="0" class="active"></li>
	    <li data-target="#feed" data-slide-to="1"></li>
	    <li data-target="#feed" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src="..." alt="...">
	      <div class="carousel-caption">
	        ...
	      </div>
	    </div>
	    <div class="item">
	      <img src="..." alt="...">
	      <div class="carousel-caption">
	        ...
	      </div>
	    </div>
	    ...
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#feed" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Voltar</span>
	  </a>
	  <a class="right carousel-control" href="#feed" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Avançar</span>
	  </a>
	</div>
</div>
{% endblock %}