{% extends "layout.html" %}

{% block navbar %}

<img class="navbar-right img-perfil" src="/picture/{{perfil_publico.id}}.jpg" />

<a class="btn btn-default navbar-right bt-sair" href="{{logout}}">   Sair</a>

<p class="navbar-text navbar-right">
	<small>Usuário:  </small>{{perfil_publico["first_name"]}}
</p>

<ul class="nav navbar-nav">
	<li class=""><a href="{{url_for('home')}}">Início</a></li>
	<li class="active"><a href="#">Atividade recente</a></li>
</ul>

<button data-toggle="modal" data-target="#post" id="postar" class="navbar-right btn btn-default">Postar nova mesnagem</button>

<form action="/refresh_facebook_data" method="post">
	<button id="atualizar" type="submit" class="navbar-right btn btn-default">Atualizar dados</button>
</form>

{% endblock %}

{% block body %}
<div class="container">
	<div class="page-header">
		<h1>Feed  <small>Suas atividades recentes </small></h1>
	</div>
	<div id="feed" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#feed" data-slide-to="0" class="active"></li>
	    {% for count in range(1, len_posts) %}
	    <li data-target="#feed" data-slide-to="{{count}}"></li>
	    {% endfor %}
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  {% for post in posts %}
	  	{% if post == posts[0] %}
	    	<div class="item active">
	    {% else %}
			<div class="item">
	    {% endif %}
	      {% if post.picture %}
	      <img class="img-slide" src="{{post.picture}}" alt="">
	      {% elif post.message %}
	      	<div id="message">
	        	{{post.message}}
	        </div>
	      {% endif %}
	      {% if post.description %}
	      <div class="carousel-caption">
	      	<div class="description">
	        	{{post.description}}
	        </div>
	      </div>
	      {% elif post.caption %}
	      <div class="carousel-caption">
	      	<div class="description">
	        	{{posts.caption}}
	        </div>
	      </div>
	      {% endif %}
	    </div>
	    {% endfor %}
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#feed" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Voltar</span>
	  </a>
	  <a class="right carousel-control" href="#feed" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Avançar</span>
	  </a>
	</div>

	<!-- Modal postar -->

	<!-- Modal -->
	<div class="modal fade" id="post" tabindex="-1" role="dialog" aria-labelledby="postLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="postLabel">Nova postagem</h4>
	      </div>
	      <form method="post" action="/postar">
		      <div class="modal-body">
		        	<textarea rows="7" name="post" cols="50" placeholder="Digite a nova postagem e clique em Enviar" ></textarea>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-primary">Enviar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
	{% if enviado %}

	{% endif %}
</div>
{% endblock %}