<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8" />
		<title>Facebook Explorer</title>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/layout.css')}}">
		<!-- JavaScript -->
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.1.3.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/facebook.js')}}"></script>

	</head>
	<body>

		<header>
			<nav class="navbar navbar-default barra-azul">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand titulo">Facebook Desktop</a>
					</div>
				</div>
			</nav>
		</header>

		{% block body %}{% endblock %}

	</body>
</html>